@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.box {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  width: 50vw;
  background-image: url(/src/components/assets/img1.jpeg);
  position: relative;
  background-size: cover;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #5200ff;
  opacity: 0.7;
}

.backg {
  width: 50vw;
  background-size: cover;
  background-position-x: center;
  display: flex;
  z-index: 0;
}

h1 {
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 76.8px;
  color: white;
  margin-bottom: 4rem;
  text-align: right;
}

p {
  position: absolute;
  left: 10%;
  bottom: 30%;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  align-items: right;
  z-index: 0;
}

.form-up {
  position: absolute;
  width: 422px;
  height: 65px;
  top: 20%;
  left: 40%;
  align-items: center;
}

label {
  position: relative;
  width: 57px;
  height: 27px;
  left: 334px;
  top: 76px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

input {
  position: relative;
  width: 422px;
  height: 65px;
  left: 334px;
  top: 76px;
  background: #ededed;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
}

button {
  position: absolute;
  width: 183px;
  height: 63px;
  left: 335px;
  top: 300px;
  color: white;
  background: #5200ff;
}

@media screen and (max-width: 768px) {
  .box {
    position: absolute;
    width: 770px;
    height: 576px;
    left: 0px;
    top: 0px;
  }

  h1 {
    position: absolute;
    top: 18%;
    left: 15%;
    text-align: center;
    font-size: 46px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    /* line-height: 76.8px; */
    color: white;
    margin-bottom: 4rem;
  }

  p {
    position: absolute;
    left: 4%;
    bottom: 20%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: revert;
  }

  .form-up {
    position: absolute;
    width: 422px;
    height: 65px;
    top: 75%;
    left: -40%;
    align-items: center;
  }

  input {
    position: relative;
    background: #ededed;
    border: 1 px solid #c7c7c7;
    display: flex;
    width: 255 px;
    height: 50 px;
    flex-direction: row;
  }
}

@media screen and (max-width: 576px) {
  button {
    position: absolute;
    width: 110%;
    left: 75%;
    height: 50 px;
    top: 300 px;
    color: white;
    background: #5200ff;
  }

  p {
    left: 4%;
  }
}
